DATABASE_URL=postgresql://planka:CHANGE_ME@postgres/planka
SECRET_KEY=CHANGE_ME
BASE_URL=https://task.bigtech.id
TRUST_PROXY=true
PAGE_TITLE=Task - bigtech
PAGE_DESCRIPTION=Task boards for Bigtech
THEME_COLOR=#f8fafc
TERMS_TYPE=custom
DEFAULT_ADMIN_EMAIL=admin@bigtech.id
DEFAULT_ADMIN_PASSWORD=CHANGE_ME
DEFAULT_ADMIN_NAME=Admin
DEFAULT_ADMIN_USERNAME=admin
